@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@900&family=Space+Grotesk:wght@500&display=swap');

h1,
h2,
h3 {
  font-family: 'Coustard', serif;
  color: #1f1235;
  margin: 0;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ec6f66 0%,
    #f3a183 51%,
    #ec6f66 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 0px #eee;
  border-radius: 10px;
  display: block;
  border: 1px;
  white-space: nowrap;
  text-align: center;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad:active {
  background-position: left center; /* change the direction of the change here */
  color: #67568c;
  text-decoration: none;
}

.loginLogo {
  margin-bottom: 30px;
}

.loginModule {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 24px;
}

.loginTextbox {
  padding: 10px 40px;
  border: 1px solid rgba(149, 157, 165, 0.2);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 24px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 15px;
}

.loginTextbox:focus {
  outline: 0;
}

.loginWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 2fr;
  height: 100vh;
}

body {
  margin: 0 auto;
  height: 100%;
  background-color: #faaca8;
  color: #1f1235;
  font-family: 'Space Grotesk', sans-serif;
  background-image: linear-gradient(
    19deg,
    #faaca8 0%,
    #ddd6f3 50%,
    #85f0b0 100%
  );
}
#logIn {
  margin-bottom: 15px;
}

#loginButton {
  margin: 0 auto;
  margin-bottom: 15px;
}

.container {
  display: grid;
  grid-template-rows: 0.75fr 10fr;
}

.navBar {
  background-color: white;
  display: grid;
  grid-row: 1/2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 24px;
  grid-template-columns: 1fr 10fr 1fr;
  border-bottom: 1px solid rgba(149, 157, 165, 0.2);
  margin: 0 auto;
  position: fixed;
  top: 0;
}

.logo {
  grid-column: 1/2;
  margin: 0 20px;
  align-self: center;
}

.connectToBank {
  align-self: center;
  grid-column: 3/4;
}

.mainContainer {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 1fr 4fr 1fr;
}

.transactionAnalytics {
  padding-top: 10px;
  display: grid;
  grid-column: 1/4;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 10fr;
  width: 100%;
}

.transactionAnalyticsHeader {
  display: grid;
  margin: 0;
  grid-row: 1/2;
  grid-column: 1/4;
}

.charts {
  display: grid;
  grid-column: 1/4;
  padding-top: 15px;
  overflow-x: auto;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.leftChart {
  grid-column: 1/2;
}

.rightChart {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 1fr 0.75fr 0.25fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  white-space: nowrap;
  text-align: center;
}

.footprintNumber {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 5rem;
  vertical-align: text-bottom;
  align-self: flex-end;
  text-align: end;
}

.footprintMeasure {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: end;
  justify-self: start;
  vertical-align: text-bottom;
  margin-bottom: 30px;
}

.footprintLabel {
  grid-column: 2/4;
  grid-row: 2/3;
  vertical-align: text-top;
}

.dataContainer {
  grid-column: 2/3;
}

.transactionComponent {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr 3fr 1fr 1fr;
  background-color: white;
  border-radius: 10px;
  margin: 10px 0px;
  align-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 24px;
}
.txnIcon {
  grid-column: 1/2;
  margin: 10px;
}

.txnDate {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}

.txnMerchant {
  grid-column: 3/4;
  align-self: center;
  text-align: center;
}

.txnCarbon {
  grid-column: 4/5;
  align-self: center;
  justify-self: center;
}

.txnAmount {
  grid-column: 5/6;
  align-self: center;
  justify-self: center;
}
